@model Excellency.ViewModels.CriteriaAssignmentIndexViewModel
@{
    ViewData["Title"] = "Index";
}
<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Employee Peer Criteria Assignment</h3>
    </div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Weight</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Criterias)
                    {
                        <tr>
                            <td>@item.Title</td>
                            <td>@item.Description</td>
                            <td>@item.Weight</td>
                            <td><a asp-controller="EmployeeCriteria" asp-action="Assign" asp-route-id="@item.Id" class="fa fa-clone text-primary"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>