
@{
    ViewData["Title"] = "Profile";
}

<div class="panel panel-headline">
    <div class="panel-heading">
        <h3 class="panel-title">Company Profile</h3>
    </div>
    <div class="panel-body">
        <h4>About Us</h4>
        <p class="text-justify" style="text-indent: 28px;">
            Isuzu Automotive Dealership, Inc. is a franchised dealer of Isuzu commercial vehicles, wholly owned by Ayala Corporation.
            The facilities are designed to make the dealership visit of our customers delightful. It employs the latest technology in upgrading its tools and equipment. Systems and process are continuously reviewed to provide a worry-free service.
            IADI continuous its journey with an unwavering commitment to service excellence in the automotive industry.
        </p>
        <hr />
        <br />
        <h4>Our Associates</h4>
        <p class="text-justify" style="text-indent: 28px;">
            IADI takes pride in having values driven and highly skilled associates. Emulating the core values of the company pervades its dealings with its valued customers. The relationships strengthen and prosper under the ideals of kinship and respect.
            Being the company’s most valuable asset, IADI vows to provide its associates with opportunities for career and personal growth. IADI will continue and draw strength from its dynamic pool of young talents as it continues to grow.
            Together, the team is committed to fulfill its aspirations and face the challenges along its journey to success.
        </p>
        <hr />
        <br />
        <h4>Company</h4>
        <p><strong>Nature of the Business:</strong> Dealership of Isuzu Commercial Vehicles</p>
        <p><strong>Host Assembly Company:</strong> Isuzu Philippines Corporation</p>
        <p><strong>Date Incorporated:</strong> June 18, 1996</p>
        <br />
        <h4>Branches</h4>
        <p>Name : <i>Isuzu Alabang</i></p>
        <p>Address : <i>Alabang-Zapote Road corner Acacia Avenue, Ayala Alabang, Muntinlupa City  1780</i></p>
        <p>Contact No : <i>807-1788 </i></p>
        <hr />
        <p>Name : <i>Isuzu Cavite</i></p>
        <p>Address : <i>239-A-3 Tanzang Luma IV, Emilio Aguinaldo Highway, Imus, Cavite 4103</i></p>
        <p>Contact No : <i>750-4448 / (046) 472-2145 </i></p>
        <hr />
        <p>Name : <i>Isuzu Pasig</i></p>
        <p>Address : <i>102 E. Rodriguez Jr. Ave., Bo. Ugong, Pasig City</i></p>
        <p>Contact No : <i>671-3429 to 33 </i></p>
        <hr />
        <p>Name : <i>Isuzu Rizal</i></p>
        <p>Address : <i>1033 Marcos Highway Brgy. Mayamot, Antipolo City</i></p>
        <p>Contact No : <i>645-5558 </i></p>
        <hr />
        <p>Name : <i>Isuzu Taytay</i></p>
        <p>Address : <i>Manila East Road Brgy. Dolores, Taytay Rizal</i></p>
        <p>Contact No : <i>908-7190 </i></p>
        <hr />
    </div>
</div>

