@model Excellency.ViewModels.CurrentUserViewModel
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="brand">
        <a href="index.html"><img src="~/img/logo-dark.png" alt="Klorofil Logo" class="img-responsive logo"></a>
    </div>
    <div class="container-fluid">
        <div class="navbar-btn">
            <button type="button" class="btn-toggle-fullwidth"><i class="lnr lnr-arrow-left-circle"></i></button>
        </div>
        @*<form class="navbar-form navbar-left">
            <div class="input-group">
                <input type="text" value="" class="form-control" placeholder="Search...">
                <span class="input-group-btn"><button type="button" class="btn btn-primary">Go</button></span>
            </div>
        </form>*@

        <div id="navbar-menu">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle icon-menu" data-toggle="dropdown">
                        <i class="lnr lnr-alarm"></i>
                        @if (Model.Notifications.Count() > 0)
                        {
                            <span class="badge bg-danger">@Model.Notifications.Count()</span>
                        }
                    </a>
                    @if (Model.Notifications.Count() > 0)
                    {
                        <ul class="dropdown-menu notifications">
                            @foreach (var item in Model.Notifications)
                            {
                                <li><a href="#" class="notification-item"><span class="dot bg-success"></span>@item.Message</a></li>
                            }
                        </ul>
                    }
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span>@Model.Name</span> <i class="icon-submenu lnr lnr-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a asp-controller="UserAccount" asp-action="Profile"><i class="lnr lnr-user"></i> <span>Account</span></a></li>
                        <li><a asp-controller="Home" asp-action="Logout"><i class="lnr lnr-exit"></i> <span>Logout</span></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- END NAVBAR -->