
@model Excellency.ViewModels.CurrentUserViewModel
<div class="sidebar-scroll">
    <nav>
        <ul class="nav">
            <li><a asp-controller="Home" asp-action="Index" class="active"><i class="lnr lnr-home"></i> <span>Dashboard</span></a></li>
            @if (Model.IsAdmin)
            {
                <li>
                    <a href="#systemsettings" data-toggle="collapse" class="collapsed"><i class="lnr lnr-list"></i> <span>Maintenance</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="systemsettings" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="Company" asp-action="Index" class="">Company</a></li>
                            <li><a asp-controller="Branch" asp-action="Index" class="">Branch</a></li>
                            <li><a asp-controller="Department" asp-action="Index" class="">Department</a></li>
                            <li><a asp-controller="PositionLevel" asp-action="Index" class="">Position Level</a></li>
                            <li><a asp-controller="Position" asp-action="Index" class="">Position</a></li>
                            <li><a asp-controller="EmployeeCategory" asp-action="Index" class="">Employee Category</a></li>
                            <li><a asp-controller="EvaluationSeason" asp-action="Index" class="">Evaluation Period</a></li>
                        </ul>
                    </div>
                </li>
            }

            @if (Model.IsAdmin)
            {
                <li>
                    <a href="#settings" data-toggle="collapse" class="collapsed"><i class="lnr lnr-cog"></i> <span>Settings</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="settings" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="KeyResultArea" asp-action="Index" class="">Key Results Area</a></li>
                            <li><a asp-controller="BehavioralFactor" asp-action="Index" class="">Behavioral KRA</a></li>
                            <li><a asp-controller="CriteriaSetting" asp-action="Index" class="">Peer Evaluation Criteria</a></li>
                            <li><a asp-controller="EmployeeCriteria" asp-action="Index" class="">Employee Criteria Assignment</a></li>
                            <li><a asp-controller="PeerAssignment" asp-action="Index" class="">Peer Assignment</a></li>
                            <li><a asp-controller="EmployeeAssignment" asp-action="Index" class="">Employee KRA Assignment</a></li>
                            <li><a asp-controller="Interpretation" asp-action="Index" class="">Interpretation</a></li>
                            <li><a asp-controller="RecommendationAssignment" asp-action="Index" class="">Recommendation Assignment</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (Model.IsAdmin)
            {
                <li>
                    <a href="#user" data-toggle="collapse" class="collapsed"><i class="lnr lnr-user"></i> <span>Accounts</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="user" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="Account" asp-action="Index" class="">Users</a></li>
                            <li><a asp-controller="ApprovalLevel" asp-action="Index" class="">Approver Level</a></li>
                            <li><a asp-controller="RaterAssignment" asp-action="RaterList" class="">Rater Assignment</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (Model.IsApprover || Model.IsRater)
            {
                <li>
                    <a href="#rating" data-toggle="collapse" class="collapsed"><i class="lnr lnr-star"></i> <span>Evaluation</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="rating" class="collapse ">
                        <ul class="nav">
                            @if (Model.IsRater)
                            {
                                <li><a asp-controller="Evaluation" asp-action="Index" class="">Create New</a></li>
                                <li><a asp-controller="Recommendation" asp-action="Index" class="">Recommendation</a></li>
                            }
                            @if (Model.IsApprover)
                            {
                                <li><a asp-controller="Approval" asp-action="Index" class="">Approval</a></li>
                            }
                            <li><a asp-controller="EvaluationResult" asp-action="Index" class="">Evaluation Result</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (Model.IsEmployee)
            {
                <li>
                    <a href="#myevaluation" data-toggle="collapse" class="collapsed"><i class="lnr lnr-layers"></i> <span>My Evaluation</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="myevaluation" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="EvaluationInformation" asp-action="Index" class="">Evaluation Tracking</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="#peerevaluation" data-toggle="collapse" class="collapsed"><i class="lnr lnr-users"></i> <span>Peer Evaluations</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="peerevaluation" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="CriteriaEvaluation" asp-action="Index" class="">Evaluations</a></li>
                        </ul>
                    </div>
                </li>
            }
            @if (Model.IsAdmin || Model.IsRater || Model.IsApprover)
            {
                <li>
                    <a href="#reports" data-toggle="collapse" class="collapsed"><i class="lnr lnr-chart-bars"></i> <span>Reports</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                    <div id="reports" class="collapse ">
                        <ul class="nav">
                            <li><a asp-controller="Report" asp-action="PeerEvaluation" class="">Peer Evaluation Result</a></li>
                            <li><a asp-controller="Report" asp-action="Employees" class="">Employee Information</a></li>
                            <li><a asp-controller="Report" asp-action="EmployeePerformance" class="">Employee Performance</a></li>
                            <li><a asp-controller="Report" asp-action="Index" class="">Performance Appraisal</a></li>
                            <li><a asp-controller="Report" asp-action="AppraisalHistory" class="">Appraisal History</a></li>
                            <li><a asp-controller="Report" asp-action="Graph" class="">Graphical Distribution</a></li>
                        </ul>
                    </div>
                </li>
            }
            <li>
                <a href="#aboutus" data-toggle="collapse" class="collapsed"><i class="lnr lnr-diamond"></i> <span>About Us</span> <i class="icon-submenu lnr lnr-chevron-left"></i></a>
                <div id="aboutus" class="collapse ">
                    <ul class="nav">
                        <li><a asp-controller="AboutUs" asp-action="Profile" class="">Company Profile</a></li>
                        <li><a asp-controller="AboutUs" asp-action="OrganizationalChart" class="">Organizational Chart</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </nav>
</div>